# Steps:
    1. Data cleaning and preparation

In [1]:
#Import all required libraries:


import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
pd.options.display.max_columns = None

In [3]:
leads_df = pd.read_csv('datasets/Leads.csv')

In [4]:
leads_df.head()

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Last Activity,Country,Specialization,How did you hear about X Education,What is your current occupation,What matters most to you in choosing a course,Search,Magazine,Newspaper Article,X Education Forums,Newspaper,Digital Advertisement,Through Recommendations,Receive More Updates About Our Courses,Tags,Lead Quality,Update me on Supply Chain Content,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
0,7927b2df-8bba-4d29-b9a2-b6e0beafe620,660737,API,Olark Chat,No,No,0,0.0,0,0.0,Page Visited on Website,NaN,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Interested in other courses,Low in Relevance,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Modified
1,2a272436-5132-4136-86fa-dcc88c88f482,660728,API,Organic Search,No,No,0,5.0,674,2.5,Email Opened,India,Select,Select,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,NaN,No,No,Select,Select,02.Medium,02.Medium,15.0,15.0,No,No,Email Opened
2,8cc8c611-a219-4f35-ad23-fdfd2656bd8a,660727,Landing Page Submission,Direct Traffic,No,No,1,2.0,1532,2.0,Email Opened,India,Business Administration,Select,Student,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Potential Lead,Mumbai,02.Medium,01.High,14.0,20.0,No,Yes,Email Opened
3,0cc2df48-7cf4-4e39-9de9-19797f9b38cc,660719,Landing Page Submission,Direct Traffic,No,No,0,1.0,305,1.0,Unreachable,India,Media and Advertising,Word Of Mouth,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Ringing,Not Sure,No,No,Select,Mumbai,02.Medium,01.High,13.0,17.0,No,No,Modified
4,3256f628-e534-4826-9d63-4a8b88782852,660681,Landing Page Submission,Google,No,No,1,2.0,1428,1.0,Converted to Lead,India,Select,Other,Unemployed,Better Career Prospects,No,No,No,No,No,No,No,No,Will revert after reading the email,Might be,No,No,Select,Mumbai,02.Medium,01.High,15.0,18.0,No,No,Modified

In [5]:
#Inspecting Dataframe
leads_df.shape

(9240, 37)

- Provided dataset has 9240 rows and 37 columns

In [6]:
#Lets check the statistical summary of dataset.
leads_df.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

 ### For simplicity, renameing column names of dataframe. Basically replacing ' ' with '_'

In [7]:
leads_df.columns = leads_df.columns.map(lambda x : x.replace(' ','_'))

In [8]:
leads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect_ID                                    9240 non-null   object
 1   Lead_Number                                    9240 non-null   int64
 2   Lead_Origin                                    9240 non-null   object
 3   Lead_Source                                    9204 non-null   object
 4   Do_Not_Email                                   9240 non-null   object
 5   Do_Not_Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total_Time_Spent_on_Website                    9240 non-null   int64
 9   Page_Views_Per_Visit                           9103 non-null   float64
 10  Last_Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How_did_you_hear_about_X_Education             7033 non-null   object
 14  What_is_your_current_occupation                6550 non-null   object
 15  What_matters_most_to_you_in_choosing_a_course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper_Article                              9240 non-null   object
 19  X_Education_Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital_Advertisement                          9240 non-null   object
 22  Through_Recommendations                        9240 non-null   object
 23  Receive_More_Updates_About_Our_Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead_Quality                                   4473 non-null   object
 26  Update_me_on_Supply_Chain_Content              9240 non-null   object
 27  Get_updates_on_DM_Content                      9240 non-null   object
 28  Lead_Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique_Activity_Index                    5022 non-null   object
 31  Asymmetrique_Profile_Index                     5022 non-null   object
 32  Asymmetrique_Activity_Score                    5022 non-null   float64
 33  Asymmetrique_Profile_Score                     5022 non-null   float64
 34  I_agree_to_pay_the_amount_through_cheque       9240 non-null   object
 35  A_free_copy_of_Mastering_The_Interview         9240 non-null   object
 36  Last_Notable_Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

- The are many values as 'Select' in dataset, which is equivalent to null [As mentioned in problem statement]
    - Resaon: In the UI, for the fields which has drop down for options to select, if user doesn't select anything, the default value is 'Select'
    - Hence, replacing all such values as null

In [9]:
leads_df.replace('Select', np.nan, inplace=True)

In [10]:
leads_df.nunique(axis=0)

Prospect_ID                                      9240
Lead_Number                                      9240
Lead_Origin                                         5
Lead_Source                                        21
Do_Not_Email                                        2
Do_Not_Call                                         2
Converted                                           2
TotalVisits                                        41
Total_Time_Spent_on_Website                      1731
Page_Views_Per_Visit                              114
Last_Activity                                      17
Country                                            38
Specialization                                     18
How_did_you_hear_about_X_Education                  9
What_is_your_current_occupation                     6
What_matters_most_to_you_in_choosing_a_course       3
Search                                              2
Magazine                                            1
Newspaper_Article                                   2
X_Education_Forums                                  2
Newspaper                                           2
Digital_Advertisement                               2
Through_Recommendations                             2
Receive_More_Updates_About_Our_Courses              1
Tags                                               26
Lead_Quality                                        5
Update_me_on_Supply_Chain_Content                   1
Get_updates_on_DM_Content                           1
Lead_Profile                                        5
City                                                6
Asymmetrique_Activity_Index                         3
Asymmetrique_Profile_Index                          3
Asymmetrique_Activity_Score                        12
Asymmetrique_Profile_Score                         10
I_agree_to_pay_the_amount_through_cheque            1
A_free_copy_of_Mastering_The_Interview              2
Last_Notable_Activity                              16
dtype: int64

- We can see there are few columns for which distinct value count is 1, hence dropping all such columns

In [11]:
to_drop_1 = ['Magazine','Receive_More_Updates_About_Our_Courses','Update_me_on_Supply_Chain_Content',
            'Get_updates_on_DM_Content','I_agree_to_pay_the_amount_through_cheque']

In [12]:
leads_df.drop(to_drop_1, axis=1,inplace=True)

In [19]:
# Handling null values 
## - Checking null values percentage 
round((leads_df.isnull().sum()/len(leads_df.index))*100, 2)

Prospect_ID                                       0.00
Lead_Number                                       0.00
Lead_Origin                                       0.00
Lead_Source                                       0.39
Do_Not_Email                                      0.00
Do_Not_Call                                       0.00
Converted                                         0.00
TotalVisits                                       1.48
Total_Time_Spent_on_Website                       0.00
Page_Views_Per_Visit                              1.48
Last_Activity                                     1.11
Country                                          26.63
Specialization                                   36.58
How_did_you_hear_about_X_Education               78.46
What_is_your_current_occupation                  29.11
What_matters_most_to_you_in_choosing_a_course    29.32
Search                                            0.00
Newspaper_Article                                 0.00
X_Education_Forums                                0.00
Newspaper                                         0.00
Digital_Advertisement                             0.00
Through_Recommendations                           0.00
Tags                                             36.29
Lead_Quality                                     51.59
Lead_Profile                                     74.19
City                                             39.71
Asymmetrique_Activity_Index                      45.65
Asymmetrique_Profile_Index                       45.65
Asymmetrique_Activity_Score                      45.65
Asymmetrique_Profile_Score                       45.65
A_free_copy_of_Mastering_The_Interview            0.00
Last_Notable_Activity                             0.00
dtype: float64

- Observation:
    - There are many columns with most of the values as null. 
    - Hence, dropping columns with null values more than 40%
    - 'City' Column is also approx to 40%, we can consider 'City column also to drop

In [20]:
to_drop_2 = ['How_did_you_hear_about_X_Education','Lead_Quality','Lead_Profile','Asymmetrique_Activity_Index',
            'City','Asymmetrique_Activity_Index','Asymmetrique_Profile_Index','Asymmetrique_Activity_Score',
            'Asymmetrique_Profile_Score']

In [21]:
leads_df.drop(to_drop_2, axis=1, inplace=True)

In [22]:
leads_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 24 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect_ID                                    9240 non-null   object
 1   Lead_Number                                    9240 non-null   int64
 2   Lead_Origin                                    9240 non-null   object
 3   Lead_Source                                    9204 non-null   object
 4   Do_Not_Email                                   9240 non-null   object
 5   Do_Not_Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total_Time_Spent_on_Website                    9240 non-null   int64
 9   Page_Views_Per_Visit                           9103 non-null   float64
 10  Last_Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 5860 non-null   object
 13  What_is_your_current_occupation                6550 non-null   object
 14  What_matters_most_to_you_in_choosing_a_course  6531 non-null   object
 15  Search                                         9240 non-null   object
 16  Newspaper_Article                              9240 non-null   object
 17  X_Education_Forums                             9240 non-null   object
 18  Newspaper                                      9240 non-null   object
 19  Digital_Advertisement                          9240 non-null   object
 20  Through_Recommendations                        9240 non-null   object
 21  Tags                                           5887 non-null   object
 22  A_free_copy_of_Mastering_The_Interview         9240 non-null   object
 23  Last_Notable_Activity                          9240 non-null   object
dtypes: float64(2), int64(3), object(19)
memory usage: 1.7+ MB

In [23]:
## - Checking null values percentage 
round((leads_df.isnull().sum()/len(leads_df.index))*100, 2)

Prospect_ID                                       0.00
Lead_Number                                       0.00
Lead_Origin                                       0.00
Lead_Source                                       0.39
Do_Not_Email                                      0.00
Do_Not_Call                                       0.00
Converted                                         0.00
TotalVisits                                       1.48
Total_Time_Spent_on_Website                       0.00
Page_Views_Per_Visit                              1.48
Last_Activity                                     1.11
Country                                          26.63
Specialization                                   36.58
What_is_your_current_occupation                  29.11
What_matters_most_to_you_in_choosing_a_course    29.32
Search                                            0.00
Newspaper_Article                                 0.00
X_Education_Forums                                0.00
Newspaper                                         0.00
Digital_Advertisement                             0.00
Through_Recommendations                           0.00
Tags                                             36.29
A_free_copy_of_Mastering_The_Interview            0.00
Last_Notable_Activity                             0.00
dtype: float64

- 2 columns with 36% of values as null
    - Tags
    - Specialization
- Lets analyze both the categorical column and see significance

In [26]:
leads_df.Specialization.value_counts()

Finance Management                   976
Human Resource Management            848
Marketing Management                 838
Operations Management                503
Business Administration              403
IT Projects Management               366
Supply Chain Management              349
Banking, Investment And Insurance    338
Travel and Tourism                   203
Media and Advertising                203
International Business               178
Healthcare Management                159
Hospitality Management               114
E-COMMERCE                           112
Retail Management                    100
Rural and Agribusiness                73
E-Business                            57
Services Excellence                   40
Name: Specialization, dtype: int64

In [27]:
leads_df.Tags.value_counts()

Will revert after reading the email                  2072
Ringing                                              1203
Interested in other courses                           513
Already a student                                     465
Closed by Horizzon                                    358
switched off                                          240
Busy                                                  186
Lost to EINS                                          175
Not doing further education                           145
Interested  in full time MBA                          117
Graduation in progress                                111
invalid number                                         83
Diploma holder (Not Eligible)                          63
wrong number given                                     47
opp hangup                                             33
number not provided                                    27
in touch with EINS                                     12
Lost to Others                                          7
Still Thinking                                          6
Want to take admission but has financial problems       6
In confusion whether part time or DLP                   5
Interested in Next batch                                5
Lateral student                                         3
Shall take in the next coming month                     2
University not recognized                               2
Recognition issue (DEC approval)                        1
Name: Tags, dtype: int64

- Observation:
    - Specialization : From values we see they are some predefined categories 
    - Tags : Whereas, Tags seems to be like comments, which varies.
- Hence, dropping column 'Tags'

In [29]:
leads_df.drop('Tags', axis=1, inplace=True)

In [30]:
## - Checking null values percentage 
round((leads_df.isnull().sum()/len(leads_df.index))*100, 2)

Prospect_ID                                       0.00
Lead_Number                                       0.00
Lead_Origin                                       0.00
Lead_Source                                       0.39
Do_Not_Email                                      0.00
Do_Not_Call                                       0.00
Converted                                         0.00
TotalVisits                                       1.48
Total_Time_Spent_on_Website                       0.00
Page_Views_Per_Visit                              1.48
Last_Activity                                     1.11
Country                                          26.63
Specialization                                   36.58
What_is_your_current_occupation                  29.11
What_matters_most_to_you_in_choosing_a_course    29.32
Search                                            0.00
Newspaper_Article                                 0.00
X_Education_Forums                                0.00
Newspaper                                         0.00
Digital_Advertisement                             0.00
Through_Recommendations                           0.00
A_free_copy_of_Mastering_The_Interview            0.00
Last_Notable_Activity                             0.00
dtype: float64

- Observation:
    - 4 columns with higher percentage of missing values:
        - Considering the problem statement, these columns seems to important and hence, its not good to drop those columns.
        - Therefore, replacing the null values of with 'NA' (Additional category)
    - For other columns with minimal percentage of null values:
        - Choosing rows with sum less than 1

In [34]:
##df3 = df2[df2.isnull().sum(axis=1) <1]
leads_df= leads_df[leads_df.isnull().sum(axis=1) < 1]

In [35]:
## - Checking null values percentage 
round((leads_df.isnull().sum()/len(leads_df.index))*100, 2)

Prospect_ID                                      0.0
Lead_Number                                      0.0
Lead_Origin                                      0.0
Lead_Source                                      0.0
Do_Not_Email                                     0.0
Do_Not_Call                                      0.0
Converted                                        0.0
TotalVisits                                      0.0
Total_Time_Spent_on_Website                      0.0
Page_Views_Per_Visit                             0.0
Last_Activity                                    0.0
Country                                          0.0
Specialization                                   0.0
What_is_your_current_occupation                  0.0
What_matters_most_to_you_in_choosing_a_course    0.0
Search                                           0.0
Newspaper_Article                                0.0
X_Education_Forums                               0.0
Newspaper                                        0.0
Digital_Advertisement                            0.0
Through_Recommendations                          0.0
A_free_copy_of_Mastering_The_Interview           0.0
Last_Notable_Activity                            0.0
dtype: float64